.container1
{
    position: fixed;
}
.roof{
   
    width: fit-content;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 50px solid red;
    
   }
   .tube
   {
       position:  fixed;
       left: 57px;
        z-index: 0;
    }
    .part1
    {
         background-color: rgb(65, 8, 8);
         width: 30px;
         height: 10px;
 
    }
    .part2
    {
         border-top: 30px solid rgb(65, 8, 8);
         border-right: 30px solid transparent;
         width: 0px;
     }

    .house
    {
        z-index: 1;
        position:  fixed;
    }
  
.ground
{
    
    background-color: rgb(10, 211, 184);
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.window
{
    background-color: rgb(209, 224, 223);
    height: 50px;
    width: 50px;
    margin: auto;
}
.in-window1
{
    position: fixed;
    background-color: rgb(66, 30, 10);
    height: 3px;
    width: 50px;
}
.in-window2
{
    position: fixed;
    background-color: rgb(66, 30, 10);
    height: 50px;
    width: 3px;
}
.first .in-window1{top: 16%;}
.first .in-window2{left: 4%;}

.second .in-window1{top: 16%;}
.second .in-window2{left: 12%;}

.therd .in-window1{top: 32%;}
.therd .in-window2{left: 4%;}
    
.door
{
    background-color: rgb(66, 30, 10);
    height: 80px;
    width: 50px;
    left: 10%;
    top: 27%;
    position: fixed;
}

.han
{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(214, 195, 20);
    position: fixed;
    top: 32%;
}